@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer base {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	::-webkit-scrollbar-track {
		background: #10161c;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background: #53585e;

		&:hover {
			background: #5b656e;
		}
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Roboto, sans-serif;
	}

	html {
		height: 100%;
	}

	html, body, #root, main {
		min-height: 100vh;
		min-height: 100dvh;
	} 

	a {
		text-decoration: none;
	}

	body {
		margin: 0;
		background: #10161c;
		color: white;
	}

	#root {
		position: relative;
	}
	
	#app-version {
		position: absolute;
		right: 0.5rem;
		bottom: 0;
		font-size: 14px;
		opacity: 0.75;
	}
}

@layer components {
	.container {
		padding: 100px 0 60px 0;
	}

	.loader {
		color: rgba(90, 90, 90, 0.2);
		position: relative;
		display: inline-block;
		border: 1px solid;
		border-radius: 50%;
		border-right-color: #5a5a5a;
		width: 28px;
		height: 28px;
		border-width: 4px;
		animation: loader-rotation 1s linear infinite;

		&.sm {
			border-width: 3px;
			width: 22px;
			height: 22px;
		}

		&.md {
			border-width: 5px;
			width: 34px;
			height: 34px;
		}

		&.lg {
			border-width: 5px;
			width: 38px;
			height: 38px;
		}
	}

	@keyframes loader-rotation {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.basic-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
